<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>임시 비밀번호 발급</title>
</head>
<body>
<p style="font-size:10pt; font-family:sans-serif; padding:0 0 0 10pt"><br><br></p>
<div style="width:440px; margin:30px auto; padding:40px 0 60px; background-color:#fff; border:1px solid #ddd; text-align:center; font-size:16px; font-family:malgun gothic,serif;">
    <h3 style="font-weight:bold; font-size:20px; margin:28px auto;">임시 비밀번호 발급</h3>
    <div style="width:200px; margin:28px auto; padding:8px 0 9px; background-color:#f4f4f4; border-radius:3px;">
        <span style="display:inline-block; vertical-align:middle; font-size:13px; color:#666;">안녕하세요, </span>
        <span style="display:inline-block; margin-left:16px; vertical-align:middle; font-size:21px; font-weight:bold; color:#4d5642;" th:text="${name} + '님!'"></span>
    </div>
    <p>요청하신 임시 비밀번호는 아래와 같습니다:</p>
    <h3 style="color: #2E86C1;">
        <span style="display:inline-block; margin-left:16px; vertical-align:middle; font-size:21px; font-weight:bold; color:#4d5642;" th:text="${temporaryPassword}"></span>
    </h3>
    <p>보안을 위해 로그인 후 꼭 비밀번호를 변경해주세요.</p>
    <br>
    <p>감사합니다.</p>
    <p>Smunion 팀 드림</p>

</div>

</body>
</html>